html
	head
		link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.css")
	body
		.container
			nav(class="navbar navbar-inverse navbar-emossed")
				.container-fluid
					.navbar-header
						a.navbar-brand(href="/") Cool logo
					.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li
								a(href="/auth/facebook") Iniciar sesión con Facebook
			h1 Perfiles extraordinarios
			p Cuéntanos acerca de tus logros más increíbles y deja que otros usuarios te los reconozcan 🙌
